* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
}

.header {
    background: url(img/map.png);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    padding-left: 46px;
    padding-right: 46px;
    position: sticky;
    top: 0;
   
}

.logo {
    font-family: "Anodina", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 210.47%;
    background: linear-gradient(100.7deg, #7F59FF 15.77%, #6132D9 82.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
    
}

.logo__icon {
    transform: translateY(6px);
    margin-right: 8px;
}

.download__but {
    
}

.android__but {
    background-image: none; 
    border: 0px;
    background: transparent;
    float: left;
    background-color: transparent;
    border-radius: 30%;
    vertical-align: middle;
    cursor: pointer;
    
}

.ios__but {
    background-image: none; 
    border: 0px;
    background: transparent;
    float: left;
    background-color: transparent;
    border-radius: 30%;
    vertical-align: middle;
    cursor: pointer;  
    margin-left: 20px;  
}

.header__icons_first {
    position: absolute;
    left: 988.67px;
    top: 477.54px;
}

.header__icons_two {
    position: absolute;
    left: 1095.02px;
    top: 122px;
}

.header__icons_three {
    position: absolute;
    left: 182.85px;
    top: 464.08px;
}

.header__icons_end {
    position: absolute;
    left: 53.33px;
    top: 194.33px;    
}

.header__text {
    text-align: center;
    margin-top: 142px;
}

.header__text_first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 124%;
    color: #9D9CCA;  
}

.header__text_two {
    padding-top: 12px;
    padding-bottom: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;  
    background: linear-gradient(45deg, #9C3EFF,#4C53E1,#7C75FE,#873EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__text_three {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 175%;
    color: #9D9CCA;   
}

.header__but {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 6%;
}

.header__but_body {
    background-image: none; 
    border: 0px;
    background: transparent;
    background-color: transparent;
    border-radius: 30%;
    vertical-align: middle;
    cursor: pointer;  
    margin-left: 20px;     
}

.header__qr {
    position: absolute;
    position: fixed;
    left: 1132px;
    top: 545.33px;
}

.content {
    background-color: #0A0911;
    width: 1280px;
    min-width: 40%;
}

/* CAN */

.content__text_can {
    padding-top: 98px;
    padding-bottom: 27px;
    text-align: center;
}

.content__text_body {
    color: white;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 121.47%;  
    
    background: linear-gradient(45deg, #9C3EFF,#4C53E1,#7C75FE,#873EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.content__cards_can {
    display: flex;
    justify-content: center;
    text-align: center;
}

.can__cards_first {

}

.can__text_first {
    margin-top: 26px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;  
    color: #9B99FF;  
}

.can__text_first-other {
    margin-top: 26px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;  
    color: white 
}

.can__text_mid {
    padding: 16px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%; 
    color: #9D9CCA;   
}

.can__text_mid-other {
    padding: 16px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%; 
    color: white;   
}

.can__text_end {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    color: #9D9CCA;
}

.can__text_end-other {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    color: white;
}

.can__cards_first {
    width:307px;
    height: 432px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 29px; 
    text-align: center;  
    background-color:#120E2A;
}

.can__cards_mid-other {
    width:307px;
    height: 432px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"),url(img/bg-horse.png);
    border-radius: 29px;  
    margin-left: 24px;  
    margin-right: 24px;  
    text-align: center;
}

.can__cards_end {
    width:307px;
    height: 432px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 29px;   
    text-align: center; 
    background-color:#120E2A;
}

.cards__body {
    margin-top: 33px;
}

/* WHAT */

.content__text_what {
    margin-top: 200px;
    text-align: center;
}

.content__text_body {
    background: linear-gradient(45deg, #9C3EFF,#4C53E1,#7C75FE,#873EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content__cards_what {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    text-align: center;
}

.what__cards_first {
    width: 306.67px;
    height: 255.33px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 29px;
    background-color: #120E2A;
}

.what__cards_mid-other {
    width: 306.67px;
    height: 255.33px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"), url(img/bg-human.png);
    border-radius: 29px; 
    margin-left: 24px;
    margin-right: 24px;
    color: white;
}

.what__cards_end {
   width: 306.67px;
   height: 255.33px;
   background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
   border-radius: 29px; 
   background-color: #120E2A;
}

.what__text_first {
    padding-top: 26.67px;
    padding-bottom: 26.67px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;    
    color: #9D9CCA;
}

.what__text_first-other {
    padding-top: 26.67px;
    padding-bottom: 26.67px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;    
    color: white;
}

.what__text_end {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    color: #9D9CCA;
}

.what__text_end-other {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    color: white;
}

/* REVIEWS */

.content__text_reviews {
    margin-top: 200px;
    margin-bottom: 28px;
    min-width: 100%;
    text-align: center;
}

.reviews__cards_body {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;    
    color: white;
    text-align: left;
    margin-left: 27px;
    margin-top: 21.2px;
    
}

.reviews__img {
    max-width: 50%;
    float: left;
    margin-left: 26.67px;
    margin-top: 16px;
    
}

.reviews__picture {
    
}

.reviews__star-girl {
    margin-top: -28px;
    max-width: 100%;
}

.reviews__blond-girl {
    float: right;
    margin-top: -12%;
    margin-right: -5%;
    max-width: 43%;
}

.reviews__hijab-girl {
    float: right;
    margin-top: -9%;
    margin-right: 5%;
    max-width: 33%;
}

.reviews__stars {
    max-width: 24.62%;
    margin-top: -5%;
    float: right;
}

.reviews__orange-girl {
    max-width: 19.8%;
    margin-top: -5%;
    float: right;
}

.reviews__img_margin {
    text-align: left;
    margin-top: 66px;
    margin-left: 27.67px;
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%; 
    color: rgba(255, 255, 255, 0.8);   
}

.container__cards_reviews {
    margin-left: 12%;
    margin-right: 5%;
    height: 361px;
  } 
.a,
.b,
.c,
.d {
    margin-right: 16px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
    border-radius: 29px;
    float: left;
    margin-right: 24px;
  }
  
  .a {
    width: 23.96%;
    height: 334px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='29' ry='29' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e"), url(img/bg-lady.png);
    border-radius: 29px;

  }
  
  .b {
    width: 33%;
    height: 160px;
    background-color: #120E2A;
  }
  
  .c {
    width: 33%;
    height: 160px;
    background-color: #120E2A;
    margin-right: -16px;

  }
  
  .break {
    width: 100%;
    height: 160px;
    margin-bottom: 16px;
  }
  
  .d {
    width: calc(66% + 20px);
    height: 160px;
    background-color: #120E2A;
    
  }

/* CITYS */

.content__citys {
    margin-top: 200px;
    text-align: center;
}

.content__citys_body {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 121.47%;
    background: linear-gradient(45deg, #9C3EFF,#4C53E1,#7C75FE,#873EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content__citys_cards {
    display: flex;
    justify-content: center;
}

.citys__cards_first,
.citys__cards_two,
.citys__cards_three,
.citys__cards_end {
    margin-top: 28px;
    width: 262px;
    height: 58.67px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='white' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;
    background-color: #120E2A;
    border: 0px;
}

.citys__cards_first {
    margin-right: 24px;
}

.citys__cards_two {
    margin-right: 24px;
}

.citys__cards_three {
    margin-right: 24px;  
}

.citys__cards_end {
    
}

.cards__container {
    text-align: left;
}

.citys__cards_picture {
    transform: translateY(5px);
    margin-right: 4%;
    margin-left: 6.11%;
}

.citys__arrow {
    transform: translateY(1px);
    margin-left: 18.323%;
}

.citys__cards_body {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    font: optional;   
    color: #9B99FF;
}

.content__stats {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 13.7%;
    margin-right: 13.7%; 
    text-align: center;
}


.content__circle_first,
.content__circle_two,
.content__circle_three,
.content__circle_end {
    
    height: 107px;
    width: 107px;
    background-color: #120E2A;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%232D347FFF' stroke-width='4' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 50%;
    display: inline-block;
    
}

.content__circle_first{
    
}

.content__stats_first {
    margin-right: 167px;
    width: 20%;
    

}

.content__stats_two {
    margin-right: 167px; 
    width: 20%;
}

.content__circle_two {
      
}

.content__stats_three {
    margin-right: 167px;
    width: 20%;

    
}

.content__circle_three {
      
}

.content__stats_end {
    width: 20%;


}

.content__circle_end {
    
}

.circle__body_first {
    margin-top: 10%;
}

.circle__body_two {
    margin-top: 10%;
}

.circle__body_three {
    margin-top: 20%;
}

.circle__body_end {
    margin-top: 5%;  
}

.circle__text_first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 121.47%;
    color: #9D9CCA;
    margin-top: 29.33px;
    
}

.circle__text_end {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 121.47%;
    color: #9D9CCA;
    margin-top: 5.33px;
}

.content__stats_but {
    text-align: center;
}
.stats__but {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%232D347FFF' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 13px;
    border: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;
    color: #2D347F;  
    padding: 11px 30px;  
    margin-top: 64px;
    cursor: pointer;
    
}

/* TRAVEL */
.content__travel_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 121.47%;
    margin-top: 200px; 
    text-align: center;   
    background: linear-gradient(45deg, #9C3EFF,#4C53E1,#7C75FE,#873EFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content__travel {
    display: flex;
    justify-content: center;
    margin-top: 42px;
  }
  
  .content__travel_left {
    display: flex;
    align-items: center;
  }
  
  .content__travel_img {
  }
  
  
  .content__travel_line {
    border: 1px dashed #9B99FF;
    margin-left: 50px;
    margin-right: 50px;
  }
  
  .content__travel_right {
    color: #9B99FF;
  }

  .content__travel_text-first {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 127.5%;
  }

  .content__travel_text-end {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 166%;  
    margin-top: 3px;
  }

.content__feetback {
    text-align: center;
    margin-top: 50px;
}

.content__form {
    border: 0px;
    display: inline-flex;
    justify-content: space-between;
    align-items:center ;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23364DDEFF' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 13px;
    border-radius: 13px;
    width: 50%;
}

.content__form_input {
    border: none;
    outline: none;
    font-size: 20px;
    padding-right: 10px;
    background: transparent;
    color: white;
    padding-left: 1%;
}

.content__form_btn {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23364DDEFF' stroke-width='2' stroke-dasharray='16%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 13px;
    border: 0px;
    cursor: pointer;
    padding: 11.33px 35px;
}

.form__btn_body {
    font-family: 'Inter',serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 166%;    
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    
}

.content__company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-right: 3%;
    margin-left: 3%;
}

.content__company_body {
    margin-right: 14.5%;
}

.clear {
    clear: both;
}